/* FILEPATH: /c:/Users/juang/OneDrive/Desktop/School/Personal Project/main/css/styles.css */

/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set font and background color */
body {
    font-family: Arial, sans-serif;
    background-image: url('./photos/background-final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #a94a4a;
}


/* Add some styles to headings */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Add some styles to paragraphs */
p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container-fluid ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.container-fluid ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    color: black;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.container-fluid ul li a:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent when hovered */
    transform: scale(1.1);
}

.container-fluid ul li a:active {
    background-color: rgba(255, 255, 255, 0.9); /* Even less transparent when clicked */
    transform: scale(0.9);
}

button {
    border-radius: 50px; /* Makes the corners round */
    transition: transform 0.3s ease; /* Smooth movement effect */
}

button:hover {
    transform: translateY(-3px); /* Moves the button up when hovered */
}

button:active {
    transform: translateY(1px); /* Moves the button down when clicked */
}